
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Şifre Değiştir</h2>
@using (Html.BeginForm("ChangePassword", "Student", FormMethod.Post))
{
    <div>
        <form>
            @if (ViewBag.Error != null)
            {
                <div class="alert alert-danger" role="alert">@ViewBag.Error</div>
            }
            <div class="mb-3">
                <label for="OldPassword" class="form-label">Eski Şifre</label>
                <input type="password" class="form-control" id="OldPassword" name="OldPassword" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label"> Yeni Şifre</label>
                <input type="password" class="form-control" id="NewPassword" name="NewPassword">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Yeni Şifre Tekrar</label>
                <input type="password" class="form-control" id="ConfigPassword" name="ConfigPassword">
            </div>
            <button type="button" class="btn btn-primary">Kaydet</button>
        </form>
    </div>
}

