@using ModelLayer
@model  List<AcademicianLectureResult>

@{
    ViewBag.Title = "ListAcademicianLecture";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dersler</h2> @*akademisyenin verdiği dersler*@

<table class="table table-bordered">
    @{
        foreach (var item in Model)
        {
            <tr>
                <td>
                    <label>@item.LectureName</label>
                </td>
                <td><a href="/Academician/GetStudents/@item.LectureID"><button class="btn btn-success">Öğrencileri Görüntüle</button></a></td>
                <td><a href="/Academician/NoteInfo?id=@item.LectureID"><button class="btn btn-success">Not Girişi</button></a></td>
            </tr>
        }
    }
</table>